*{
    margin: 0;
    padding: 0;
    color:white;
}

@font-face{
    font-family:"myfont";
    src: url("odstemplik.otf") format("opentype"),url("odstemplikBold.otf") format("opentype")
}



.top-img{
    background-image: url("img01.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.top-text{
    text-align:center;
    padding:250px 0;
    font-family: cursive;
}

.top-text h1{
    font-size:100px;
    font-family:"myfont";
}

nav h3{
    font-family:"myfont";
}

nav .fas{
    color:#888;
}

nav .far{
    color:#888;
}

.night-sky{
    background-image:url("ff.jpg");
    padding:200px 0;
    text-align:center;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    /*color: navy;*/
}

#information{
    background-image:url("fix-bg.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.night-sky h2{
    font-family:"myfont";
    font-size:80px;
    margin-bottom:40px;
}

.carousel-item{
    height:500px;
}

.service-list{
    background-color:#333;
    padding:50px;
}

.service-list h2{
    font-family:"myfont";
    font-size:80px;
    text-align:center;
}

.service-img{
    width:100%;
}

.carousel-inner{
    background-size:cover;
}

.service-discription{
    padding:30px;
}

.info{
    border:solid 2px white;
    padding:20px;
    margin:20px;
}

.icon{
    font-size:100px;
}

.carousel-item img{
    background-size:cover;
}

footer{
    background-color:#333;
    padding:30px;
}

footer p{
    text-align:right;
}

footer ul li{
    list-style:none;
}

footer ul li a{
    color:#aaa;
    font-size:15px;
}

footer ul li a:hover{
    color:#fff;
    text-decoration:none;
}

#service1 h3{
    font-family: "myfont";
}
